spring.datasource.url=jdbc:postgresql://localhost/findbestjob
spring.datasource.username=postgres
spring.datasource.password=
spring.jpa.generate-ddl=true

spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=validate

spring.freemarker.expose-request-attributes=true

spring.mail.host=
spring.mail.username=
spring.mail.password=
spring.mail.port=465
spring.mail.protocol=smtps
mail.debug=true

upload.path=

recaptcha.secret=
captcha.url=https://www.google.com/recaptcha/api/siteverify

spring.session.jdbc.initialize-schema=always
spring.session.jdbc.table-name=SPRING_SESSION